@media (max-width:2560px) {
    .menu-btn {
        display: none;
    }
}

@media (max-width:1200px) {
    .menu-btn {
        display: block;
    }
    .menu-btn{
        display: block;
    }

    .menu.active {
        padding-top: 100px;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        z-index: 999;
        width: 100vw;
        height: 40vh;

    }

    .menu {
        display: none;
    }


    .footer1,
    .footer2,
    .footer3 {
        max-width: 100%;
    }

    .menu ul li {
        position: fixed;
        left: 0;
        top: 50px;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        color: white;
        background-color: black;

    }

    .menu ul li a {
        display: flex;
        color: white;
        flex-direction: column;
        margin-block: 100px;
        text-align: center;
        font-size: 25px;
    }

    .menu-btn-close {
        display: block;
    }


}

@media (max-width: 768px) {
    .threefooter {
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 20px;
    }


    .menu.active {
        padding-top: 100px;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        z-index: 999;
        width: 100vw;
        height: 40vh;

    }

    .menu {
        display: none;
    }


    .footer1,
    .footer2,
    .footer3 {
        max-width: 100%;
    }

    .menu ul li {
        position: fixed;
        left: 0;
        top: 50px;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        color: white;
        background-color: black;

    }


    .menu ul li a {
        display: flex;
        flex-direction: column;
        margin-block: 100px;
        text-align: center;
        font-size: 25px;
    }

    .footer1 h6 {
        font-size: 2.5rem;
    }

    .footer1 h4 {
        font-size: 1rem;
        padding: 10px 0;
    }

    .footer2 {
        font-size: 16px;
    }

    .footer3 {
        gap: 15px;
    }

    .social-icons {
        display: flex;
        gap: 15px;
        width: 100%;
        margin-top: 10px;
    }

    .social-icons a img {
        padding: 12px;
        margin: 0;
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 576px) {
    .footer1 h6 {
        font-size: 2rem;
    }

    .footer1 h4 {
        font-size: 0.9rem;
    }

    .footer2 {
        font-size: 14px;
    }

    .social-icons a img {
        width: 36px;
        height: 36px;
        padding: 10px;
    }

    .partnerslogo {
        overflow: hidden;
        display: none;
    }

    .working {
        display: flex;
        flex-direction: column;
    }

    .working img {
        width: 100vw;
    }

    .black {
        flex-direction: column;
        justify-content: center;
    }

    .our-academies {
        flex-direction: column;
    }

    .our-academies img {
        width: 100vw;
    }

    .ethos {
        flex-direction: column;
    }

    .ethos img {
        width: 100vw;
    }

    .what-we-do {
        flex-direction: column;
        margin-left: 0;
    }

    .section-image img {
        margin: 16px;
    }


    .green-section {
        overflow: scroll;
    }

    .texts h1 {
        font-size: 40px;
        padding-top: 10px;
    }

    .join {
        color: white;
    }

    .bg-section {
        overflow: hidden;
    }

    .join h1 {
        font-size: 30px;
        padding-top: 20px;
    }

    .join p {
        display: none;
    }

    .support-detail h1 {
        font-size: 50px;
    }

    .support-detail h1 span {
        font-size: 50px;
    }

    .support-detail {
        margin-top: -120px;
    }

    .support-detail p {
        font-size: 10px;
        color: black;
        overflow: hidden;
        line-height: normal;
    }

    .BENEFITS {
        flex-direction: column;
        align-items: center;
    }

    .BENEFITS h1 {
        font-size: 30px;
    }

    .three-circle {
        overflow: scroll;
        gap: 5px;
    }

    .three-circle h5 {
        padding-block: 5px;
    }

    .green h1 {
        font-size: 20px;
    }

    .green {
        flex-direction: column;
    }

    .bg-only {
        size: 100vw;
    }

    .jason {
        flex-direction: column;

    }

    .jason img {
        width: 100vw;
    }

    .member-detail h1 {
        padding-top: 30px;
        color: black;
        font-size: 30px;
    }

    .more-info {
        padding-top: 500px;
        text-align: center;
        justify-content: center;
    }

    .partners-section img {
        width: 80vw;
    }

    .open {
        flex-direction: column;
    }

    .governer-para h1 {
        font-size: 55px;
    }

    .leaders {
        flex-direction: column;
        gap: 30px;
        margin: auto;
    }

    .leaders img {
        width: 90vw;
    }

    .campign-grid img {
        width: 90vw;
    }

    .campign-grid {
        overflow: scroll;
        gap: 50px;
        margin-top: 100px;
    }

    .container p {
        margin-bottom: 40px;
    }

    .aims h1 {
        font-size: 50px;
    }

    .contact-section {
        flex-direction: column;
        overflow: hidden;
        padding: 16px;
    }

    .function {
        flex-direction: column;
        gap: 20px;
        margin-inline: 16px;
    }

    .function img {
        width: 100vw;

    }

    .right p {
        display: none;
    }

    .panel-section {
        flex-direction: column;
        gap: 30px;
    }

    .action-main h1 {
        font-size: 50px;
        padding-top: 0px;
        margin-top: 20px;
    }

    .action-main p {
        max-width: 100vh;
    }

    .logos {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main-partners h1 {

        font-size: 30px;

    }

    .quote-section {
        flex-direction: column;
    }

    .name {
        display: none;
    }

    .fl img {
        width: 80vw;
        padding: 10px;
    }

    .section-title {
        font-size: 35px;
    }


    .teacher {
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
    }

    .panel-section {

        height: 100vh;
    }

    .no-space p {
        font-size: 30px;
    }
}

@media (max-width: 375px) {
    .footer1 h6 {
        font-size: 2rem;
    }

    .footer1 h4 {
        font-size: 0.9rem;
    }

    .footer2 {
        font-size: 14px;
    }

    .social-icons a img {
        width: 36px;
        height: 36px;
        padding: 10px;
    }

    .partnerslogo {
        overflow: hidden;
        display: none;
    }

    .working {
        display: flex;
        flex-direction: column;
    }

    .working img {
        width: 100vw;
    }

    .black {
        flex-direction: column;
        justify-content: center;
    }

    .our-academies {
        flex-direction: column;
    }

    .our-academies img {
        width: 100vw;
    }

    .ethos {
        flex-direction: column;
    }

    .ethos img {
        width: 100vw;
    }

    .what-we-do {
        flex-direction: column;

    }

    .what-we-do img {
        width: 100vw;
    }

    .green-section {
        overflow: scroll;
    }

    .texts h1 {
        font-size: 40px;
        padding-top: 10px;
    }

    .join {
        color: white;
    }

    .bg-section {
        overflow: hidden;
    }

    .join h1 {
        font-size: 30px;
        padding-top: 20px;
    }

    .join p {
        display: none;
    }

    .support-detail h1 {
        font-size: 50px;

    }

    .support-detail {
        margin-top: -120px;
    }

    .support-detail p {
        font-size: 10px;
        color: black;
        overflow: hidden;
        line-height: normal;
    }

    .BENEFITS {
        flex-direction: column;
        align-items: center;
    }

    .BENEFITS h1 {
        font-size: 30px;
    }

    .three-circle {
        overflow: scroll;
        padding-top: 100px;
    }

    .three-circle h5 {
        padding-block: 5px;
    }

    .green h1 {
        font-size: 20px;
    }

    .green {
        flex-direction: column;
    }

    .bg-only {
        size: 100vw;
    }

    .jason {
        flex-direction: column;

    }

    .jason img {
        width: 100vw;
    }

    .member-detail h1 {
        padding-top: 30px;
        color: black;
        font-size: 30px;
    }

    .more-info {
        padding-top: 500px;
        text-align: center;
        justify-content: center;
    }

    .partners-section img {
        width: 80vw;
    }

    .open {
        flex-direction: column;
    }

    .governer-para h1 {
        font-size: 55px;
    }

    .leaders {
        flex-direction: column;
        gap: 30px;
        margin: auto;
    }

    .leaders img {
        width: 90vw;
    }

    .campign-grid img {
        width: 90vw;
    }

    .campign-grid {
        overflow: scroll;
        gap: 50px;
        margin-top: 100px;
    }

    .container p {
        margin-bottom: 40px;
    }

    .aims h1 {
        font-size: 50px;
    }

    .contact-section {
        flex-direction: column;
        overflow: hidden;
        padding: 16px;
    }

    .function {
        flex-direction: column;
        gap: 20px;
        margin-inline: 16px;
    }

    .function img {
        width: 100vw;

    }

    .right p {
        display: none;
    }

    .panel-section {
        flex-direction: column;
        gap: 30px;
    }

    .action-main h1 {
        font-size: 50px;
        padding-top: 0px;
        margin-top: 20px;
    }

    .action-main p {
        max-width: 100vh;
    }

    .logos {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main-partners h1 {

        font-size: 30px;

    }

    .quote-section {
        flex-direction: column;
    }

    .name {
        display: none;
    }

    .fl img {
        width: 80vw;
        padding: 10px;
    }

    .section-title {
        font-size: 35px;
    }


    .teacher {
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
    }

    .panel-section {

        height: 100vh;
    }

    .no-space p {
        font-size: 30px;
    }

    .black-menu {
        display: none;
    }

    .menu.active {
        padding-top: 100px;
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        z-index: 999;
        width: 100vw;
        height: 40vh;

    }

    .bg-image {
        overflow: hidden;
    }

    .menu-btn {
        display: block;
    }

    .navbar img {
        size: 20px;
    }

    .hero-content h1 {
        font-size: 30px;

    }

    .btn {
        size: 40%;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        padding: 16px;
    }

    .academy-section {
        flex-direction: column;
        padding: 16px;
    }

    .action-section {
        flex-direction: column;
        padding: 16px;
    }

    .join h3 {
        font-size: 60px;
    }

    .join {
        padding: 16px;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .heding {
        margin-inline: 10px;
    }

    .navbar-wraper img {
        size: 50px;
    }

    .Academics h3 {
        font-size: 30px;
        padding-left: 0%;
    }

    .Academics h1 {
        font-size: 50px;
    }

    .Academics p {
        color: white;
    }

    .hero-content {
        margin-left: 5%;
    }

    .working-as {
        padding-left: 0%;
        padding: 16px;
        padding-top: 200px;
    }

    .working-as h1 {
        font-size: 30px;
        padding-top: 50px;
    }

    .working-as p {
        display: none;
    }




    .support-detail h1 {
        font-size: 30px;
        padding-top: 0%;
    }

    .support-detail {
        height: 100px;
    }

    .three-circle {
        flex-direction: column;
        gap: 150px;
        align-items: center;
        justify-content: center;
    }

    .BENEFITS h1 {
        padding-top: 20px;
    }

    .green {
        display: none;
    }

    .action-main h1 {
        padding-top: 50px;
        font-size: 50px;
    }

    .information h1 {
        font-size: 40px;
        padding-top: 100px;
    }

    .btns {
        overflow: scroll;
    }

    .sectionss {
        flex-direction: column;
    }

    .policy-info h3 {
        font-size: 40px;
    }

    .policy-data {
        clip-path: polygon(0 0, 100% 0, 99% 100%, 0% 100%);
    }

    .infor {
        display: none;
    }

    .policies {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 16px;
    }

    .containerp h2 {
        padding-left: 30px;
    }

    .containerp p {
        padding-left: 30px;
    }

    .what-we-do img {
        width: 90vw;
        margin: auto;
    }

    .section-tag {
        padding-top: 10px;
    }

    .container-vacanecies h1 {
        font-size: 50px;
    }

    .container-vacanecies p {
        font-size: 10px;
    }

    .social-icons {
        justify-content: space-around;
        width: 90vw;
    }

    .better,
    .life {
        font-size: 50px;
    }

    .academics-detail {
        padding-inline: 10px;
        margin: auto;
    }

    .academics-detail h1 {
        font-size: 50px;
    }

    .academics-detail h3 {
        font-size: 30px;
    }

    .academics-detail p {
        display: none;
    }
}