:root {
    --color-bg: #000;
    --color-text: #fff;
    --color-accent: #64D281;
    --font-main: Arial, sans-serif;
    --font-extra-bold: Raleway, ExtraBold;
    --font-Regular: Raleway, Regular;
    --font-extra-bold: Raleway, ExtraBold;
    --font-extra-bold: Raleway, ExtraBold;

}



* {
    margin: 0%;
    padding: 0%;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 20px;
}

body p {
    font-family: 'Poppins', sans-serif;
    opacity: 50%;
}


.bg-image {
    height: 100vh;
    /* adjust as needed */
    background:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0.50),
            /* top gradient with 25% opacity */
            rgba(255, 255, 255, 0)
            /* fade to transparent */
        ),
        url("../images/section/first-image.png") no-repeat center center;
    background-size: cover;
}


/* header */
.hero {
    position: relative;
    width: 100%;
    height: 500px;
    /* Adjust as needed */
    background: url("your-shadow-image.jpg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Add a dark overlay for shadow effect */
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* shadow overlay */
    z-index: 1;
}

/* Navbar */
.navbar {
    position: fixed;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-between;
    padding: 20px 50px;
    position: relative;
    z-index: 2;
    /* ensures navbar is above overlay */
}

/* Logo */
.logo {
    font-size: 22px;
    font-weight: bold;
    color: var(--color-white);
}

.sub-logo {
    font-size: 14px;
    color: var(--color-white);
}

/* Menu */
.menu {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
}

.menu a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: bold;
    font-size: 14px;
}

.menu a:hover {
    color: var(--color-accent);
}

#ntns {
    background: var(--color-accent);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
}

#btns:hover {
    color: var(--color-white);
}

/* Button */
.btn {
    background: var(--color-accent);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover {
    color: var(--color-text);
}

.main {
    background: var(--color-accent);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;

}

/* Hero text */
.hero-text {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    margin-top: 100px;
}


/* header end */

/* hero */

.hero {
    display: flex;
    align-items: center;
    padding: 50px;
    color: var(--color-text);
}

.hero-content {
    max-width: 600px;
    margin-left: 200px;
    margin-top: 200px;
    color: var(--color-text);
    font-size: 50px;
    font-family: Raleway, Extrabold;
}

.hero h1 {
    font-size: 80px;
    font-weight: 900;
    margin: 0;
    line-height: 1.1;
    text-transform: uppercase;
    font-family: var(--font-extra-bold);
}

.hero-content a {
    font-size: 20px;
    cursor: pointer;
}

.hero button:hover {
    opacity: 0.9;
}

/* hero-enfd */

/* second */
.clippath {
    background-color: var(--color-text);
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
}

.about-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 60px 60px 0px;
    gap: 40px;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    height: 610px;
    width: 787px;
}

.about-content {
    flex: 1;
    max-width: 500px;
}

.about-content small {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-muted);
    letter-spacing: 1px;
}

.about-content h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0 20px 0;
    font-family: var(--font-Regular);
}

.about-content p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-muted);
}

/* second end */

/* ecadomyc */
.academy-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0px 60px 60px;
    gap: 40px;
}

.academy-content {
    flex: 1;
    max-width: 500px;
}

.academy-content small {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-muted);
    letter-spacing: 1px;
}

.academy-content h2 {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0 20px 0;
    font-family: var(--font-extra-bold);
}

.academy-content h2 span {
    font-weight: normal;
}

.academy-content p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-muted);
}


.academy-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    height: 610px;
    width: 787px;
}

/* ecadomyc-end */


/* last-to-second */
.partnership-banner {
    position: relative;
    width: 100%;
    height: 450px;
    background: url("../images/section/first-image.png") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-text);
}

.banner-content {
    position: relative;
    z-index: 2;
}

.banner-content h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 20px 0;
    font-family: var(--font-Regular);
}

.banner-content h1 span {
    font-weight: 900;
}

.banner-content img {
    height: 60px;
    vertical-align: middle;
    height: 610px;
    width: 787px;
    margin: 0 10px;
}

.banner-content button {
    background: var(--color-button);
    color: var(--color-button-text);
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.banner-content button:hover {
    background: var(--color-accent);
}

/* :end */


/* action */
.action-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 60px 60px 0px;
    gap: 40px;
}

.action-image {
    flex: 1;
    height: 610px;
    width: 787px;
}

.action-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    height: 610px;
    width: 787px;
    border-radius: 4px;
}

.action-content {
    flex: 1;
    max-width: 500px;
}

.action-content small {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-muted);
    letter-spacing: 1px;
}

.action-content h2 {
    font-size: 65px;
    font-weight: bold;
    margin: 10px 0 20px 0;
    font-family: var(--font-Regular);
}

.action-content h2 span {
    font-weight: normal;
}

.action-content p {
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-muted);
}


/* action-end */

/* second page */

.bg-section {
    height: 100vh;
    background:
        linear-gradient(to bottom,
            rgba(0, 0, 0, 0.50),
            /* top gradient with 25% opacity */
            rgba(255, 255, 255, 0)
            /* fade to transparent */
        ),
        url("../images/section/taylor-wilcox-4nKOEAQaTgA-unsplash\ \(2\)@2x.png") no-repeat center center;
    background-size: cover;
}

.join {
    color: var(--color-text);
}

.join h3 {
    padding-top: 273px;
    font-family: var(--font-Regular);
    font-size: 81px;
}

.join h1 {
    font-family: var(--font-extra-bold);
    font-size: 171px;
}

.join p {
    font-family: var(--font-Regular);
    font-size: 18px;
    max-width: 600px;
}

.green-section {
    height: 80vh;
    background-color: var(--color-accent);
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0% 100%);
}

.green {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: var(--color-text);

}

.green h1 {
    font-family: var(--font-extra-bold);
    font-size: 110px;
    padding: 20px;
}

.green h5 {
    font-family: var(--font-extra-bold);
    font-size: 27px;
    padding: 5px;
}

.green p {
    font-family: var(popins-light);
    font-size: 16px;
    opacity: 60%;
    line-height: 20px;
    max-width: 300px;
}

.what-we-do {
    display: flex;
    justify-content: space-between;
     align-items: center;
}

.texts{
    margin: auto;
}

.texts h1 {
    font-size: 60px;
    font-family: var(--font-Regular);
}

.texts p {
    max-width: 475px;
    opacity: 60%;
    line-height: 20px;
    font-size: 15px;
}

.texts a {
    background-color: var(--color-accent);
    margin: 20px 40px 20px 40px;
}

.ethos{
     display: flex;
    justify-content: space-between;
     align-items: center;
}

.our-academies{
     display: flex;
    justify-content: space-between;
     align-items: center;
}

.working{
     display: flex;
    justify-content: space-between;
     align-items: center;
}
.black{
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-around;
    color: var(--color-text);
}
.black img{
    padding: 20px;
}


/* footer */

.threefooter{
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-around;
    padding: 50px;
    color: white;
}
.footer1{
    max-width: 430px;
    align-items: center;
}
.footer1 h6{
font-size: 100px;
font-family: var(--font-extra-bold);
}
.footer1 h4{
    font-family: var(--font-extra-bold);
    font-size: 20px;
    padding: 20px;
}
.footer2{
    color: var(--color-text);
    margin-bottom: 20px;
    font-size: 20px;
}

.footer3{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.useful-links a{
color: var(--color-text);
display: flex;
flex-direction: column;
text-decoration: none;
gap: 20px;
}
.social-icons a img{
    background-color: var(--color-accent);
    border-radius: 50%;
    padding: 20px;
    image-rendering: auto;
    margin: 20px;
}


.partners{
    background-color: var(--color-accent);
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}
.partners p{
    font-size: 25px;
}
.partnerslogo{
    display: inline-flex;
    gap: 25px;
}